@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

.quadrado {
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(54, 53, 53);
    background-image: url('wallpaper002.jpg');
}

#q1 {
    background-position: left top;
}

#q2 {
   background-position: left center;
}

#q3 {
    background-position: right bott;
}

