@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(wallpaper002.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background
}

.quadrado {
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(54, 53, 53);
    background-image: url('wallpaper002.jpg');
}

#q1 {
    background-position: left top;
}

#q2 {
   background-position: left center;
}

#q3 {
    background-position: right bott;
}

.texto {
    margin: 20px 300px 20px 300px;
    padding: 10px;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    background-color: white;
    max-width: 600px;
    min-height: 1500px;
}
.texto h1 {
    text-align: center;
}

